<!-- views/pages/index.ejs -->

<!DOCTYPE html>

<html lang="en">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>
    var numberOfPages = <%= numberOfPages %>;
  </script>
  <script type="text/javascript" src="js/main.js"></script>
<head>
    <% include partials/head %>
</head>
<body class="main">
    <header>
      <% include partials/header %>
    </header>
    <div class="bar">
      <img src="images/trending.png" class="trendingimg"></img>
    </div>
    <br>
    <div class="row">
      <ul>
        <% for (var i = 1; i < numberOfPages - 1; i++) { %>
          <div id="wikicard<%=i%>" class="card">
            <img src="/images/placeholder.png" class="cardimg"></img>
            <a href="/wikipage?<%=i%>" id="wikipage<%=i%>" class="cardtext">
              <p id="title<%=i%>" class="cardtext"><%= wikiPageNames[i] %></p>
            </a>
          </div>
        <% } %>
      </ul>
    </div>
  <footer>
    <% include partials/footer %>
  </footer>
</body>
</html>
