<!-- views/pages/index.ejs -->

<!DOCTYPE html>

<html lang="en">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>
    var numberOfPages = <%= numberOfPages %>;
  </script>
  <script type="text/javascript" src="js/main.js"></script>
<head>
    <% include partials/head %>
</head>
<body class="main">
    <header>
      <% include partials/header %>
    </header>
    <div class="bar">
      <%if (type === "now") { %>
        <div class="bar">
        <img src="images/trendingnowon.png" class="trendingimg"></img>
        </div>
      <% } else if (type === "week") { %>
        <div class="weekbar">
        <img src="images/week.png" class="trendingimg"></img>
        </div>
      <% } else if (type === "month") { %>
        <div class="monthbar">
        <img src="images/month.png" class="trendingimg"></img>
        </div>
      <% } %>
    <div class="categoryOptions">
      <a href="/<%=type%>" class="catbutton" id="all">All</a>
      <a href="/<%=type%>?politics" class="catbutton" id="politics">Politics</a>
      <a href="/<%=type%>?history" class="catbutton" id="history">History</a>
      <a href="/<%=type%>?techScience" class="catbutton" id="techScience">Tech and Science</a>
      <a href="/<%=type%>?entertainment" class="catbutton" id="entertainment">Entertainment</a>
      <a href="/<%=type%>?sports" class="catbutton" id="sports">Sports</a>
    </div>
    <br>
    <div class="row" id="trending">
      <ul>
        <% for (var i = 1; i < numberOfPages - 1; i++) { %>
          <div class="card" id="wikicard<%=i%>">
            <!--<img src="/images/placeholder.png" class="cardimg"></img>-->
            <a href="/wikipage?<%=type%>_<%=i%>" id="wikipage<%=i%>" class="cardtext">
              <div class="category" id="category<%=i%>"><%= categories[i]%></div>
              <div class="cardtext" id="title<%=i%>"><%= wikiPageNames[i]%></div>
              <br><div class="text"><%=descriptions[i]%></div>
            </a>
            <!-- <br><div class="mainarticlescard" id="articles<%=i%>"></div> -->
          </div>
        <% } %>
      </ul>
    </div>
  <footer>
    <% include partials/footer %>
  </footer>
</body>
</html>
